@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-image:url('images/Synspective-1.jpg') ;
    background-size:cover;
    background-repeat: no-repeat;
    font-family: "Montserrat", sans-serif;
}
.navbar{
    background-color: rgba(0, 0, 0, 0.450);
  }
  .navbar .container-fluid .nav-item a{
    color: white;
    font-size:20px;
  }
  .navbar .container-fluid .nav-item a:hover{
    color: red;
  }
  .navbar .container-fluid .nav-item{
    margin-right:40px ;
  }
  .main-healine{
    border-radius: 10px;
    color: white;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.06);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    -webkit-box-shadow: 0 25px 25px rgba(0, 0, 0, 0.15);
    box-shadow: 8 25px 23px rgba(0, 0, 0, 0.15);
    border: 1.5px solid rgba(255, 255, 255, 0.061);
    border-radius: 8px;
    width: 30%;
  }
  .main-healine h1{
    text-align: center;font-size: 100px;
  }
  .signup{
    background-color: #173b66a7;
    padding: 40px;
    width: 40%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: white;
    font-weight: bold;
  }
  .signup button{
    width: 50%;
  }
  .signup .button-signup:hover{
    background-color: darkblue;
  }
  .map-slider{
    padding: 40px;
    width: 80vw;
    height: 75vh;
  }
  .resources{
    background-color: #173b66a7;
    padding: 40px;
    width: 80%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height: 75vh;
    overflow-y: scroll;
    overflow-x: hidden;
    color: white;
  }
  .nav-tabs .nav-link{
    color: white;
  }
  .nav-tabs .nav-link :active{
    color: black;
  }
  
  .resources .mb-3 img{
    background-size: contain;
  }
  .resource-table{
    padding: 30px;
  }
  .tab-content{
    padding: 20px;
  }
  .hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateZ(100%);
    transition: all 1.5s;
  }
  .show{
    opacity: 1;
    filter: blur(0);
    transform: translateZ(0);
  }
  .text{
    border-right: 5px solid;
    white-space: nowrap;
    overflow: hidden;
    animation:typing 2s steps(6),cursor .6s step-end infinite alternate;
    width: 100%;
}
@keyframes cursor{
    50%{border-color:transparent ;}
}
@keyframes typing{
    from{width: 0;}
}

  @media only screen and (max-width: 768px) {
    .lib{
      padding: 8px;
    }
    body{
      background-position: center;
      overflow: hidden;
    }
    .main-healine{
      padding: 2px;
      width: 60%;
    }
    .main-healine h1{
      font-size: 50px;
    }
    .signup {
      width: 90%;
    }
    .resources{
      width: 90%;
      padding: 20px;
      overflow-x: scroll;
    }
    .resources div{
        display: flex;
        flex-direction: column;
    }
    .resources .mb-3{
        width: 100%;
    }
    .resources .mb-6{
        width: 100%;
    }
    .lib,.lib1{
      font-size: 12px;
    }
    .resources .nav-tabs{
      display: flex;
    }
    .resources .nav-tabs .nav-item button{
      font-size: 15px;
    }
    .resources table{
      width: 100%;
      font-size: 10px;
      padding: 3px;
  }
  .resource-table{
    padding: 10px;
  }
  .tab-content{
    padding: 5px;
  }
  .images{
    width: 100%;
    max-width: 300px;
  }
}